# ==================================================
# always setting
# ==================================================

#
Options -Indexes

# 任何以 "." 開頭的 目錄 或 檔案
#   -> .git/
#   -> .svn/
#   -> .htaccess
#   -> .gitignore
RedirectMatch 404 /\.+
