# ==================================================
# always setting
# ==================================================

# no index
Options -Indexes

# private files
<FilesMatch "\.(bak|backup|save|config|inc|ini|env|sql|log|tar|gz|zip)$">
    Order allow,deny
    Deny from all
    Satisfy all
</FilesMatch>

# linux
<FilesMatch "\.(sh|swp|swo)$">
    Order allow,deny
    Deny from all
    Satisfy all
</FilesMatch>

# ~ tag
#   -> index.php~
<FilesMatch "~">
    Order allow,deny
    Deny from all
    Satisfy all
</FilesMatch>
